.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: crimson;

  & ul {
    display: flex;
    li {
      padding: 0 10px;
      list-style-type: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
