.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  & ul {
    display: flex;
    li {
      padding: 0 10px;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}
